/* *{
    box-sizing: border-box;
}*/
body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #404EED;
    width: 1366px;
    height: 89px;

    display: flex;
    justify-content: start;
    align-items: center;
}
header img {
    width: 267.25px;
    height: 32px;
    margin-left: 150px;
}
.container {
    display: flex;
}
.menuRoupas {
    width: 395px;
    margin: 30px 243px 0px 120px;
    
}
.opcoes-modelo{
    margin: 5px 0px;
    height: 160px;
    display: flex;
    justify-content: space-between;
}
.selecionado{
    width: 100px;
    height: 100px;
    border: 4.5px solid #404EED;
    border-radius: 55px;
    margin: 10px;
}

.opcao1 {
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.opcoes-gola {
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;

}
.opcoes-tecido {
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
}

.menuRoupas p {
    width: 110px;
    margin: 35px 20px;
    font-weight: 400;
    color: #232323;
}
.h3 {
    width: 143px;
    height: 21px;
    font-size: 18px;
    margin:20px 0px 40px 45px;
}
.fundoDaOpcao {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0.5px solid #C4C4C4;
    background-color: #E5E5E5;
    margin-bottom: 15px ;

    position: absolute;
}
.menuRoupas img{
    width: 70px;
    height: 70px;
    position: relative;
    top: 13px;
    left: 15px;
}

.imagemReferencia {
    width: 175px;
    height: 70px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.url {
    width: 399px;
    height: 40px;
    background-color: #F2F2F2;

    border-radius: 10px;
}
.confirmar {
    width: 399px;
    height: 40px;
    border-radius: 10px;
    border: 0px solid #C4C4C4;
    color: #FCFCFC;
    background-color: #C4C4C4;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmarPedido{
    width: 399px;
    height: 40px;
    border-radius: 10px;
    border: 0px solid #404EED;
    color: #FCFCFC;
    background-color: #404EED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagemLateral {
    background-color: #404EED;
}
h1 {
    width: 174px;
    height: 28px;
    font-size: 24px;
    font-weight: 400;
    color: #232323;

    margin:30px 0 15px 118px;
}

ul {
    width:1050px;
    height:342px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    margin: 0 175px 25px 118px;
}
li{
    width: 201.69px;
    height: 236.47px;
    border-radius: 10px;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

}
li img {
    width: auto;
    height: 180px;
    margin-top: 2px;
}
li p {
    width: 130px;
    height: 23px;
    font: weight 400px;;
    font-size: 20px;
    line-height: 23.44px;
    color: #232323;
}
/*border: 0.5px solid #C4C4C4;
